---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
import { actions, isInputError } from 'astro:actions'
import Form from '../components/Form.astro'
import Input from '../components/Input.astro'

const result = Astro.getActionResult(actions.signUp)

if (result && !result.error) {
  return Astro.redirect(`/sign-in?new`)
}

const inputErrors = isInputError(result?.error) ? result.error.fields : {}
---

<StarlightPage frontmatter={{ title: 'Sign up', tableOfContents: false }}>
  <Form method="POST" action={actions.signUp} error={result?.error}>
    <Input errors={inputErrors.name} name="name" label="Name" required />
    <Input errors={inputErrors.email} name="email" label="E-mail" required type="email" />
    <Input errors={inputErrors.password} name="password" label="Password" required type="password" />
    <button>Sign up</button>
  </Form>
</StarlightPage>
